.testimonials {
    padding-top: 109px;
    padding-bottom: 109px;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);


  & .container {
    max-width: 1000px;
  }

 &__wrapper {
     display: flex;

}

    &__text {
        width: 333px;
        margin-right: 132px;
        margin-top: 35px;
    }

    &__title {
        margin-top: 31px;
        font-weight: 500;
    }

    &__descr {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.91;
        color: #A4ABC8;
        margin-top: 14px;
        width: 320px;
    }
   
    &__cards {
        display: flex;
        gap: 64px;
        
    }
 
    &__card {
        position: relative;
        padding: 41px 71px 53px 69px;
        min-width: 423px;
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        box-shadow: 0px 5px 50px #F3F5FA;
    }
    
    &__card-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #676F95;
       
      
}

&__img {
    position: absolute;
    bottom: -31px;
    left: calc(50% - 31px);
   }


   &__pagination {
    margin-top: 47px;
    display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 12px;
    margin-left: 127px;
    padding-top: 47px;
   }

   &__circle {
    width: 8px;
    height: 8px;
    background: #D1D6E3;
    border-radius: 100%;

   }
}